.fondoChat { 
  height: 100vh;
  display: flex;
}

.contenedor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 15.2%;
  background: #008069;
  z-index: -10;
  transform-origin: top right;
}

