.contenedor{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImage{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
}

.inputs{
    padding: 10px;
}

.inputPassword{
    padding: 5px;
    margin-right: 5px;
}

.inputImage{
    display: none;
}
