.imagenes {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.formInput{
    width: 100%;
    margin: 0px auto;
    padding: 10px;
    border-bottom: 1px solid #EDF2F7;
}

.profileUsers {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 98%;
    padding: 10px;
}

.profileUsers:hover {
    background-color: #EDF2F7;
}

.arrowDown span{
    visibility: hidden;
    display: flex;
    align-items: flex-start;
}

.arrowDown:hover span{
    visibility: visible;
    font-size: 20px;
}

.textNotBlock{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}