.contenedor {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    width: 75%;
    margin: 0px auto;
}

.none {
    display: none;
}

.noneButton{
    visibility: hidden;
}

.divTitulo {
    grid-column: 1/3;
}

/* MENSAJES */
.divMensajes {  
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.divChatsCerrados{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border: 1px solid black;
    padding: 10px;
}

.contenedorMensajes{
    overflow-y: scroll;
    max-height: 50vh;
}

/* PERFIL USUARIO EN ASIDE  */
.perfilAside{
    display: flex;
    justify-content: space-between;
}


/* BUSQUEDA DE USUARIOS/CHATS (ASIDE) */

.divAside{
    border: 1px solid black;
    margin-right: 5px;
    padding: 10px;
}

.contactosHide {
    display: none;
}

.btnContactos {
    width: 25%;
    height: 100%;
}

.asd {
    width: 75%;
}

.imagenes {
    border-radius: 50%;
}

.formBusqueda{
    text-align: center;
    margin: 5px;
}



/* DATOS DEL USUARIO DEL CHAT */
.divDatosUserChat{
    text-align: left;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

/* FORM PARA ENVIAR EL MENSAJE  */
.formMandarMensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.formTextArea{
    margin-top: 5px;
    resize: none;
}

.sendMensaje{
    margin-left: 5px;
    border-radius: 15px;
    cursor: pointer;
}