.noneButton{ 
    visibility: hidden;
}

/* MENSAJES */
.divMensajes {  
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.37);
}

.divChatsCerrados{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    border: 1px solid black;
}

.contenedorMensajes{
    padding: 10px;
    overflow-y: scroll;
    height: 70vh;
    max-height: 70vh;
    scroll-behavior: smooth;
}

/* DATOS DEL USUARIO DEL CHAT */
.divDatosUserChat{
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    display: flex;
    align-items: center;
    padding: 15px;
}

/* FORM PARA ENVIAR EL MENSAJE  */
.formMandarMensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.37);
}

.formTextArea{
    margin-top: 5px;
    resize: none;
}

.sendMensaje{
    margin-left: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.imagenes {
    border-radius: 50%;
}

